

@model CategoryAddDTO
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Kategory Yönetimi /</span> Kategory ekle </h4>

    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <h5 class="card-header">Default</h5>
                <form asp-controller="Category" asp-action="Add" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="card-body">
                        
                        
                        <div class="form-group">
                            <label asp-for="Name" class="form-label">Kategori</label>
                            <Input asp-for="Name" type="text" class="form-control mb-2" id="defaultFormControlInput" placeholder="Lütfen kategori giriniz" aria-describedby="defaultFormControlHelp" min-height="280px">
                            <span asp-validation-for="Name" class="text-danger"></span>

                        </div>
                        
                        @* // *@
                        @*<div class="form-group">
                        <label asp-for="Image" class="control-label"></label>
                        <input asp-for="Image" class="form-control" type="file" />
                        <span asp-validation-for="Image" class="text-danger"></span>
                        </div>*@
                        @*//*@


                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Kaydet</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <!-- Form controls -->

    </div>
</div>